header{
    width: 100vw;
    height: min-content;
    background-color: var(--gradient-medium-color);
    background-image: var(--gradient-medium);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 20px;
    padding: 0.3rem 0;
    position: absolute;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 3;
}  

/************* MEDIA QUERIES ***********/

@media (min-width: 1200px) {

}