@font-face{
  font-family: inter;
  src: url("../font/inter.ttf");
}

:root {
  /*colors*/
  --gradient-light-color: #f3d6f3;
  --gradient-light:linear-gradient(150deg, #f3d6f3 0%, #D7F0F9 35%, #f5f9f9 99%);
  --gradient-medium-color: #70a4da;
  --gradient-medium: linear-gradient(135deg, #70a4da 0%, #d199ff 100%);
  --gradient-dark-color: #4191ce;
  --gradient-dark: linear-gradient(135deg, #4191ce 0%, #9951ed 100%);
  --text-color: #70A4DA;
  --alt-color:#F3F5FC;


  /*font-family*/
  --text: inter;
}


*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scrool-behavior:smooth;
}

body{
  width: 100%;
  font-family: var(--text);
  display: block;
  position: relative;
  

}

.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  color: #030D14;
  font-size: 1.5rem;
}
.logo img{
  
  width: 3.5rem;
  margin-right: 8px;}

/* .logo span{
  color: #030D14;
} */


main{
  padding: 7rem 0 2rem 0;
  background-color: var(--gradient-light-color);
  background-image: var(--gradient-light);
 overflow: hidden;
  font-weight: 400;
}

main .project{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;

}

.error {
  display: none;
  position: absolute;
  top: -20px;
  color: var(--text-color);
  margin-left: 8px;  
  font-weight: 600;
}



/************* MEDIA QUERIES ***********/

@media (min-width: 1200px) {
  .container{
    max-width: 80%;
    margin: 0 auto;
  }

main{
  height: 98vh;
}

 main .project{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.5rem;
    height: 100%;
  
  }
}








